[
  {
    rabbitmq_management,
    [
      {listener, [{port, 15672}]}
    ]
  },
  {
    rabbitmq_management_agent,
    [{rates_mode, basic}]
  },
  {
    rabbit,
    [
      {loopback_users, []},
      {tcp_listeners, [5672]},
      {cluster_formation, [
        {peer_discovery_backend, rabbit_peer_discovery_classic_config}
      ]},
      {default_user, <<"mastertrade">>},
      {default_pass, <<"rabbitmq_secure_password">>},
      {default_user_tags, [administrator]},
      {default_vhost, <<"/">>},
      {default_permissions, [<<".*">>, <<".*">>, <<".*">>]},
      {management_load_definitions, "/opt/definitions.json"}
    ]
  }
].